@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #FF8200;
  --bg-foreground: #f4ac53;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #FF8200;
    --bg-foreground: #f4ac53;
  }
}

body {
  background: var(--bg);
}
* {
  box-sizing: border-box;
}
